.main{
    margin-top: 90px;
}

.registrationdiv{
    margin: auto;
    max-width: 900px;
}

.btn{
    width: max-content;
    margin-right: 15px;
}

@media screen and (max-width: 900px) {
    .registrationdiv{
        margin:0 15px !important;
    }
}